.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.heading {
  color: #0f172a;
  font-size: 40px;
  font-family: 'Lobster';
}
.language-list-container {
  display: flex;
}
.repositoryItem-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
